
<ion-header>
  <ion-toolbar>
    <ion-title>
      BUSQUEDA POKEMON!
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <ion-card-content>
      <ion-item>
        <ion-label position="floating">ID del Pokémon</ion-label>
        <ion-input type="number" [(ngModel)]="pokemonId"></ion-input>
      </ion-item>
      <ion-button expand="full" (click)="searchPokemonById()">
        <ion-icon slot="start" name="search"></ion-icon>
        Buscar por ID
      </ion-button>
      <ion-card *ngIf="pokemonResultById">
        <ion-card-header>
          {{ pokemonResultById.name }}
        </ion-card-header>
        <ion-card-content>
          <img [src]="pokemonResultById.sprites.front_default" alt="Pokemon Sprite">
          <p>ID: {{ pokemonResultById.id }}</p>
        </ion-card-content>
      </ion-card>
    </ion-card-content>
  </ion-card>
  
  <ion-card>
    <ion-card-content>
      <ion-item>
        <ion-label position="floating">Nombre del Pokémon</ion-label>
        <ion-input [(ngModel)]="pokemonName"></ion-input>
      </ion-item>
      <ion-button expand="full" (click)="searchPokemonByName()">
        <ion-icon slot="start" name="search"></ion-icon>
        Buscar por Nombre
      </ion-button>
      <ion-card *ngIf="pokemonResultByName">
        <ion-card-header>
          {{ pokemonResultByName.name }}
        </ion-card-header>
        <ion-card-content>
          <img [src]="pokemonResultByName.sprites.front_default" alt="Pokemon Sprite">
          <p>ID: {{ pokemonResultByName.id }}</p>
        </ion-card-content>
      </ion-card>
    </ion-card-content>
  </ion-card>
</ion-content>





  
