
<ion-header>
  <ion-toolbar>
    <ion-title>
      POKEDEX
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <ion-card-content>
      <ion-item>
        <ion-label position="floating">Buscar Pokémon</ion-label>
        <ion-input [(ngModel)]="searchTerm" type="text" placeholder="Ingrese ID o Nombre"></ion-input>
      </ion-item>
      <ion-button expand="full" (click)="searchPokemon()">
        <ion-icon slot="start" name="search"></ion-icon>
        Buscar
      </ion-button>
      <ion-card *ngIf="pokemonResult">
        <ion-card-header>
          {{ pokemonResult.name }}
        </ion-card-header>
        <ion-card-content>
          <img [src]="pokemonResult.sprites.front_default" alt="Pokemon Sprite">
          <p>{{ pokemonResult.name }}</p>
        </ion-card-content>
      </ion-card>
    </ion-card-content>
  </ion-card>
  



</ion-content>





  
